<div class="header">
	<h1>Movies</h1>
</div>

<div>
	<% @movies.each do |m| %>
		<div>
			<%= image_tag m.image %>
			<h2> <%= m.title %> </h2>
			<p> <%= m.release_year %> </p>
			<p> <%= m.plot %> </p> 
			<%= link_to "Learn more", movie_path(m) %>
		</div>
	<% end %>
</div>